html{
	background-color: black;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Navbar img{
	margin-left: 1.5em;
	margin-right: 1em;
}
.Navbar li{
	/*margin-right: 0.2em;*/
	/*margin-left: 0.2em;	*/
}
.Navbar li a{
	color: white;
}

.Navbar .bg-dark{
	background-color: black !important;
}


.Home{
	background-color: black;
	color: white;
	height: 100vh;
	padding: 2em;
}

.Home .categories{
	text-align: left;
	padding: 1em;
	overflow-x: scroll;
  overflow-y: hidden;
	width: 100%;
	height: 325px;
	white-space: nowrap;
}

.Home .categories .Show{
	display: inline; 
}

.Show figure{
	display: inline;
	margin-right: 0.5em;
	position: relative;		
}

.Show figure button{
	position: absolute;	
	right: 10px;
	bottom: -100px;
	box-shadow: 2px 2px 3px black;
}

.Show figure button.btn{
	border-radius: 50%;	
} 

.hide{
	display: none !important;
}

.show{
	display: inline-block !important;
}
